
.app,.confirmation{
  display: flex;
  justify-content: center;
  align-items:center ;
  height :100vh;
}

form{
  
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

input,select, button{
  padding: 1rem;
  margin: 1rem;

}

.buttons{
  display:flex;
  justify-content: center;
}

button{
  border-radius: 100%;
}

.confirmation{
  flex-direction: column;
}

li{
  list-style-type: none
}