.App {
  text-align: center;
  border : 1px solid green;  
  width:35rem ; 
  padding: 1rem;
  margin : 5rem
}

.formDiv{
  text-align: center;
  border : 1px solid green;  
  width:35rem ; 
  padding: 1rem;
  margin : 5rem
}